<!-- Header-->

<header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                   
                    
    
                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="count bg-danger" id="">
                            <% if(typeof cart_count != 'undefined') { %>
                                <%= cart_count %>
                            <% } %>
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <a class="dropdown-item media" href="/store/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <p>Goto Cart</p>
                            </a>
                            <!-- <a class="dropdown-item media" href="/store/cart">
                                <i class="fa fa-money"></i>
                                <p>Check Out</p>
                            </a> -->
                            <a class="dropdown-item media" href="/track">
                                <i class="fa fa-truck"></i>
                                <p>Track Order</p>
                            </a>
                        </div>
                    </div>
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
                    </a>
    
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i>Logout</a>
                    </div>
                </div>
    
            </div>
        </div>
    </header>
    <!-- /#header -->