<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %> 
</head>
<body>
    <!-- leftpanel start -->
    <% include ../../partials/saller_leftpanel %>
    <!-- leftpanel end -->
    <div id="right-panel" class="right-panel">
        <!-- header start -->
        <% include ../../partials/saller_header %>
        <!-- hearer end -->
        <!-- content start -->
        <div class="content">
            <div class="animated fadeIn">
                
                <!--  Traffic  -->
                <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">Live Chat</h4>
                                </div>
                                <div class="card-body">
                                    <div class="panel-body">
                                        <ul class="messages">

                                        </ul>
                                        
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <textarea name="textarea-input" id="m" rows="2" placeholder="Message..." class="form-control"></textarea>
                                            </div>
                                            <div class="col-md-2" style="padding-top:4%;">
                                                <div class="row justify-content-center">
                                                    <button class="btn btn-primary" id="send_message"><span class="fa fa-chevron-right"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">Traffic </h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <canvas id="myChart1"></canvas>
                                    </div>
                                    
                                </div> <!-- /.row -->
                                <div class="card-body"></div>
                            </div>
                        </div><!-- /# column -->
                    </div>
                    <!--  /Traffic -->
            </div>
        </div>
        <!-- content end -->
    </div>
    <!-- foot start -->
    <!-- foot has only js -->
    <% include ../../partials/foot %>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        $(document).ready(function(){
            // var socket = io();
            // $('#send_message').click(function(){
            //     var message = $('#m').val() 
                
            //     // alert(message);
            //     $.ajax({
            //         type: "POST",
            //         url: "/saller/live_chat/",
            //         data: 'message='+ message,
            //         success: function(result){
            //             $('.messages').append($('<li>').text(result));
            //         }
            //     });
            // });
            $('#send_message').click(function(){
                var message = $('#m').val();
                socket.emit('chat message', message);
                    $('#m').val('');
                    return false;
            });
            socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
                window.scrollTo(0, document.body.scrollHeight);
            });
        });

    </script>
    <!-- myChart1 -->
    <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
    
            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Sepember', 'October', 'November', 'December'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [1000, 150, 5, 245, 20, 30, 4500, 2000, 300, 30, 403, 432]
                }]
            },
    
            // Configuration options go here
            options: {}
        });
    </script>
    <!-- foot end -->
</body>
